[project]
name = "repl-nix-workspace"
version = "0.1.0"
description = "Add your description here"
requires-python = ">=3.11"
dependencies = [
    "anthropic>=0.72.0",
    "google-genai>=1.49.0",
    "mcp>=1.20.0",
    "openai>=2.7.1",
    "playwright>=1.55.0",
    "rich>=14.2.0",
]
